@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ToDos</h2><br />
    <h6 class="lead">This is a simple  todo list app. </h6>
    <br />
    @Html.ActionLink("Click here to start making Todos", "Index", "Todos", new { area = "" }, new { @class = "navbar-brand" })

</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <br /><br />
        <p>
            A project by Rohan Choudhary.
        </p>
     </div>   
    
    
</div>